body{
    position: absolute;
    background-color: rgb(200, 215, 248);
}


#cabecalho {
    position: absolute;
    background-color: #6096e0;
    background-image: linear-gradient(125deg, #4d8adf, #413bda, #0f0c54);
    margin-top: -8px;
    margin-left: -8px;
    height: 130px;
    width: 1920px;
}

#logotexto {
    font-size: 35px;
    color: #ffffff;
    line-height: 76px;
    text-align: center;
    font-style: italic;
    vertical-align: middle;
    font-family: 'arial', Courier, monospace;
    position: absolute;
    top: 11px;
    left: 830px;
}

#logomarca {
    position: absolute;
    height: 69%;
    top: 23px;
    left: 750px;}

#slogan {
    position: absolute;
    font-family: 'arial', Courier, monospace;
    color: white;
    font-style: italic;
    left: 880px;
    top: 72px;
    font-size: 16px;
}

#menu {
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 25px;
    height:40px;
    width: 40px;
    opacity: 0%;
    cursor: pointer;
}

#container {
    color: white;
}

.menubarra{
    position: absolute;
    background-color: white;
    height: 5px;
    width: 38px;
    transition: 0.25s ease-in-out;
}

#barras1{
    top: 50px;
    left: 30px;
}

#barras2{
    top: 60px;
    left: 30px;
}

#barras3{
    top: 70px;
    left: 30px;
}


#menu:checked + label span:nth-child(1){
    top: 60px;
    transform: rotate(-45deg);
}

#menu:checked + label span:nth-child(2){
    opacity: 0;
}

#menu:checked + label span:nth-child(3){
    top: 60px;
    transform: rotate(45deg);
}

#menucontainer{
    z-index: -3;
    background-color: #4b7dde;
    background-image: linear-gradient(to right, #4b7dde 60%, #4972de);
    position: absolute;
    width: 250px;
    height: 100px;
    opacity: 0%;
    left: -5px;
    border-radius: 10px;
}

#menu:checked + label span:nth-child(4){
    z-index: -3;
    top: 120px;
    left: -5px;
    opacity: 65%;
    animation-duration: 0.50s;
    animation-name: slidein;
    animation-direction: normal;
    animation-iteration-count: 1;
}

@keyframes slidein{
    from {width: 0px; height: 100px; top: 120px;}
    
    to {width: 250px;
        height: 100px; top: 120px;}
}

#menucontainer2{
    z-index: -3;
    top: 120px;
    position: absolute;
    background-color: #4b7dde;
    background-image: linear-gradient(to right, #4b7dde 60%, #4972de);
    width: 250px;
    height: 100px;
    opacity: 0%;
    left: -5px;
    border-radius: 10px;
}

#menu:not(:checked) + label span:nth-child(5){
    z-index: -3;
    top: 120px;
    animation-name: slideoff;
    animation-duration: 0.50s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

@keyframes slideoff{
    from {width: 250px;
        height: 100px; opacity: 60%; top: 120px;}
    
    to {width: 0px; top: 120px;}
}

#linklogo{
    text-decoration:none;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 50px;
}

#checkbox-menu{
    margin-top: 25px;
    margin-left: 0px;
}

.containerdoces{
    position: absolute;
    width: 370px;
    height: 400px;
    top: 240px;
    left: 30px;
    background-color: #332cd0;
    background-image: linear-gradient(to bottom, #4c86de 75%, #3530b9);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #6c65f1;
}

#doce1{
    left: 245px;
    opacity: 65%;
}

#doce2{
    left: 755px;
    opacity: 65%;
}

#doce3{
    left: 1270px;
    opacity: 65%;
}

.imgprodutos{
    position: absolute;
    opacity: 100%;
    height: 185px;
    top: 300px;
}

#tortamaca{
    left: 320px;
}

.zoom img{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}