body{
    background-color: rgb(200, 215, 248);
}


#cabecalho {
    position: absolute;
    background-color: #6096e0;
    background-image: linear-gradient(125deg, #4d8adf, #413bda, #0f0c54);
    margin-top: -8px;
    margin-left: -8px;
    height: 130px;
    width: 1920px;
}

#logotexto {
    font-size: 35px;
    color: #ffffff;
    line-height: 76px;
    text-align: center;
    font-style: italic;
    vertical-align: middle;
    font-family: 'arial', Courier, monospace;
}

#logomarca {
    position: absolute;
    height: 69%;
    margin-top: -110px;
    margin-left: 750px;}

#slogan {
    position: absolute;
    font-family: 'arial', Courier, monospace;
    color: white;
    font-style: italic;
    left: 890px;
    top: 69px;
}

#menu {
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 20px;
    height: 50px;
    width: 50px;
    opacity: 0%;
    cursor: pointer;
}

#container {
    color: white;
}

.menubarra{
    position: absolute;
    background-color: white;
    height: 5px;
    width: 38px;
    transition: 0.25s ease-in-out;
}

#barras1{
    top: 50px;
    left: 30px;
}

#barras2{
    top: 60px;
    left: 30px;
}

#barras3{
    top: 70px;
    left: 30px;
}


#menu:checked + label span:nth-child(1){
    top: 60px;
    transform: rotate(-45deg);
}

#menu:checked + label span:nth-child(2){
    opacity: 0;
}

#menu:checked + label span:nth-child(3){
    top: 60px;
    transform: rotate(45deg);
}