body{
    background-color: rgb(200, 215, 248);
}
#cabecalho {
    position: absolute;
    background-color: #6096e0;
    background-image: linear-gradient(125deg, #4d8adf, #413bda, #0f0c54);
    margin-top: -8px;
    margin-left: -8px;
    height: 130px;
    width: 1920px;
}

#logotexto {
    font-size: 35px;
    color: #ffffff;
    line-height: 76px;
    text-align: center;
    font-style: italic;
    vertical-align: middle;
    font-family: 'arial', Courier, monospace;
}

#logomarca {
    position: absolute;
    height: 69%;
    margin-top: -110px;
    margin-left: 750px;}